.container{
    padding: 15px;
}


.desc{
    font-size: 20px;
    margin-top: 5px;
}

.imageContainer{
    position: relative;
    height: 350px;
    margin: 25px 0;
}
.brand{
    position: absolute;
    background-color: var(--color-primary);
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #000;
    border-radius: 0 0 15px 0;
    
}
.image{
    object-fit: cover;
    border-radius: 15px;
}



.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 20px;
}

.gallery{
    padding: 10px 20px;
    border: 1px solid #444;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.g_image{
    border-radius: 15px;
    cursor: pointer;
}



