.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    background-color: #000;
    padding: 10px;
    gap: 10px;
}
.icon{
    cursor: pointer;
    display: flex;
    align-items: center;
}

